
/* common classes */

.text-center {
	text-align: center;
}
.text-right {text-align: right;}
.text-left {text-align: left;}
.float-right {
	float: right;
}
.inline {
	display: inline-block;
}
.border-left {
	border-left: 1px solid #fff;
}
.border-right {
	border-right: 1px solid #fff;
}
.border-bottom {border-bottom: 1px solid #fff;}

.w-4 { width: 25%; vertical-align: middle;}
.w-3 { width: 33.3%; vertical-align: middle;}
.w-2 { width: 50%; vertical-align: middle;}
.w-1 { width: 100%; vertical-align: middle; display: block;}
.w-75 { width: 75%; vertical-align: middle;}

.red { background: red}
.green { background: green}








html, body, 
.container,
.cbp-fbscroller { 
	height: 100%; 
}



.cbp-fbscroller > .nav-g {
	text-align: center;
	position: fixed;
	z-index: 9999;
	right: 50px;
	top: 50%;
	width: 3em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


.cbp-fbscroller .nav-g .s-a {
	display: block;
	position: relative;
	z-index: 9999;
	color: white;
	width: 10px;
	height: 10px;
	outline: none;
	margin: 2em auto;
	border-radius: 50%;
	border: 2px solid #fff;
	background: white;
	vertical-align: middle;

	transition: all 0.3s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}
.cbp-fbscroller .nav-g .s-a .tool-tip {
	position: absolute;
	padding: 0.4em 1em;
	vertical-align: middle;
	border-radius: 4px;
	top: -10px;
	right: 2em;
	font-weight: 300;
	/*width: 10em;*/
	/*height: 2em;*/
	background: #111111;
	opacity: 0.7;
	display: none;
}
.cbp-fbscroller .nav-g .s-a .tool-tip .triangle{
	width: 15px;
	height: 15px;
	position: absolute;
	right: -4px;
	top: 8px;
	background: #111111;

	-ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.cbp-fbscroller .nav-g .s-a:hover .tool-tip{
	display: inline;
}

.cbp-fbscroller .nav-g .logo-s {
	width: 100%;
}




.cbp-fbscroller > .nav-g a.cbp-fbcurrent {
	opacity: 0.8;
	background: transparent;
	width: 18px;
	height: 18px;
}


.cbp-fbscroller section {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;

}


.content {
	position: relative;
	top: 0;
	width: 100%;

}
.content .content-inner {
	width: 85%;
	margin: 0 auto;
}
.text-home {
	padding: 5em 0;
	opacity: 0.9;
}
.text-home h1 {
	margin-top: 0.5em;
}
.text-home img {
	width: 10em;
	opacity: 0.8;	
}
.info {
	font-size: 1em;
	font-style: italic;
}
/* Section 1 - home  */

.home {
	height: 800px;
}
.home video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	/*z-index: -100;*/
	/*background-position: 80%;*/
	background-size: cover;
}
/*.home-shadow {
	background: url('../images/1.jpg') no-repeat;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}*/
.home-shadow img {
	width: 300px;
	position: relative;
	top: 50%;
	margin-top: -150px;
	opacity: 0.2;
}


#section1 {
	background-image: url(../images/1.jpg);
}


/*********************/

/* Section 2 *************/

#section2, #section3, #section4, #section5 {
	padding: 7em 0;
}

#section2 {
	background-image: url(../images/3.jpg) no-repeat;
	height: auto;
	padding: 5em 0;
}
#section2 img {
	width: 100%;
}

#section2 .shadow {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: url('../images/9.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}




#section3 {
	background-image: url(../images/2.jpg);
}
#section3 .services {
	width: 31%;
	vertical-align: top;
	border: 1px solid rgba(250,250,250, 0.5);
	margin: 4px;
	height: 35em;
	padding: 1em;
}
#section3 .services img {
	width: 2em;
	margin-top: -1em; 
}
#section3 .shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	opacity: 0.8;
	background: url('../images/10.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

#section4 {
	background-image: url(../images/15.jpg);

}

#section4 .shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.95;
	background: url('../images/11.jpg');
	background-position: center;
	background-size: cover;
}
#section4 .port {
	/*border: 1px solid rgba(250,250,250, 0.5);*/
	width: 23em;
	display: inline-block;
	padding: 3px;
}
#section4 .port .border {
	/*border: 1px solid rgba(250,250,250, 0.5);*/
	height: 20em;
	opacity: 0.2;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#section4 .port .border .shadow2 {
	position: absolute;
	background: #333;
	padding: 0.5em;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#section4 .port .border .shadow2 img {
	width: 3em;
	margin-top: 3em;
}
#section4 .port .border .shadow2 h4 {
	margin-top: 0em;
}
#section4 .port .border:hover .shadow2{
	opacity: 1;
}
#section4 .port .border:hover {
	opacity: 0.7;
}
#section4 .port .border.b-1 {
	background: url('../images/port3.png') no-repeat;
	background-position: center;
	background-size: cover;
}
#section4 .port .border.b-2 {
	background: url('../images/port4.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#section4 .port .border.b-3 {
	background: url('../images/port5.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#section4 .port .border.b-4 {
	background: url('../images/port1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#section4 .port .border.b-5 {
	background: url('../images/port6.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
#section4 .port .border.b-6 {
	background: url('../images/port2.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}


#section5 {
	background-image: url(../images/5.jpg);
}
#section5 img {
	width: 100%;
}
#section5 .shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background: url('../images/12.jpg');
	background-position: center;
	background-size: cover;
}


.copyright {

	padding-top: 10em;
}



/* Small */
@media only screen and (max-width: 40em) { 
	.cbp-fbscroller .nav-g {
		right: 20px;
	}
	.home video {
		display: none;
	}
	.w-2 {width: 100%;}
	.w-4 {width: 100%;}
	.content .content-inner {
		width: 75%;
	}
	#section3 .services {
		width: 100%;
	}

}
/***************************/


/* Medium */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.cbp-fbscroller > .nav-g {
		right: 25px;
	}
	.home video {
		display: none;
	}
	.w-2 {width: 100%;}
	.w-4 {width: 100%;}
	.content .content-inner {
		width: 80%;
	}
	#section3 .services {
		width: 100%;
	}
} 
/***************/



/*************** Media Queries *****************/

/*Small screens*/
/*@media only screen and (max-width: 40em) { } */


/*Medium screens*/
/*@media only screen and (min-width: 40.063em) and (max-width: 64em) { }*/

/*Large screens*/
/*@media only screen and (min-width: 64.063em) { } */






