
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Raleway', Calibri, Arial, sans-serif;
    color: #fff;
    margin-top: -20px;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.container > header {
	position: fixed;
	z-index: 1000;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header nav {
	float: right;
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	border: 4px solid #fff;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #fff;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}
p, a {
	font-weight: 300;
}
h1, h2, h3, h4 {
	line-height: 1.15;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 4.4em;
}
h2 {font-size: 3.8em;}
h3 {font-size: 3em;}
h4 {font-size: 2.5em;}



/* Small */
@media only screen and (max-width: 40em) { 
	h1{
		font-size: 2.4em;
		
	}
	h4 {font-size: 1.5em}
}
/***************************/


/* Medium */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	h1 {
		font-size: 2.9em;
	}
	h4 {font-size: 2em}
} 
/***************/

